@media (prefers-color-scheme: dark) {

  body {
    background-color: #191a26;
  }

  #writing-field {
    background-color: #191a26;
    color: #ffffff;
  }

  .sidebar {
    color: #abb2bf;
  }

  ::-webkit-scrollbar {
    background-color: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #4b5362;
  }

  .popup, .popup-dialog, .working-popup {
    background-color: #2B2D42;
    color: white;
    border: 2px solid gray;
  }

  .popup-outliner {
    background-color: #191a26;
    color: white;
  }

  :focus {
    outline-color: #EF233C;
  }

  #chapter-list-sidebar:focus {
    outline: none;
  }

  .warning-text {
    color: darkorange;
  }

.ql-editor.ql-blank::before{
    color: #abb2bf;
  }
}
