@media (prefers-color-scheme: dark) {

  body {
    background-color: #191a26;
  }

  #writing-field {
    background-color: #191a26;
    color: #ffffff;
  }

  .sidebar {
    color: #abb2bf;
  }

  ::-webkit-scrollbar {
    background-color: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #4b5362;
  }

  .popup, .popup-dialog, .working-popup {
    background-color: #2B2D42;
    color: white;
    border: 2px solid gray;
  }

  .popup-outliner {
    background-color: #191a26;
    color: white;
  }

  :focus {
    outline-color: #EF233C;
  }

  #chapter-list-sidebar:focus {
    outline: none;
  }

  .warning-text {
    color: darkorange;
  }

.ql-editor.ql-blank::before{
    color: #abb2bf;
  }

  .corkboard-card {
    background-color: #191a26;
    border: 1px solid gray;
  }

  .corkboard-card-horiz {
    border: 1px solid gray;
    background-color: #191a26;
  }

  .card-num-label {
    color: white;
  }

  .corkboard-card input, .corkboard-card textarea {
    background-color: #191a26;
    color: white;
  }

  .corkboard-color1 {
    background-color: #ed553b;
  }

  .corkboard-color2 {
    background-color: #20639b;
  }

  .corkboard-color3 {
    background-color: #3caea3;
  }

  .corkboard-color4 {
    background-color: #f6d55c;
  }

  .corkboard-color5 {
    background-color: #8b3bed;
  }

  .corkboard-color6 {
    background-color: #ed3bed;
  }
  .corkboard-color7 {
    background-color: #ed733b;
  }
  .corkboard-color8 {
    background-color: #3bedbe;
  }
  .corkboard-color9 {
    background-color: #3b94ed;
  }

#battery-block {
  color: #abb2bf;
}

}
