:root {
  --main-font-size: 12pt; /*overwritten by user settings.*/
  --dialog-font-size: 12pt; /*overwritten by user settings.*/
  --dialog-font-size-small: 10pt; /*overwritten by user settings.*/
  --dialog-heading-size: 14pt; /*overwritten by user settings.*/
  --editor-width: 50%; /*overwritten by user settings.*/
  --sidebar-width: 25%;  /*overwritten by user settings.*/
  --sidebar-width-double-view: 50%;  /*overwritten by user settings.*/
  --corkboard-column-width: 25%; /*overwritten by user settings*/
}

body {
  margin: 0;
  padding-top: 12px;
  font-family: Helvetica, sans-serif;
}

input, textarea, select, button {
  box-sizing: border-box;
  border-radius: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.sidebar {
  width: var(--sidebar-width);
  display: none;
  float: left;
  height: 93vh;
  font-size: var(--main-font-size);
}

.sidebar h1{
  text-align: center;
  font-size: 14pt;
  margin-top: 0px;
}


.sidebar ul {
  overflow: hidden;
}

.sidebar-search-view {
  display: none;
}

.sidebar-single-view {
  width: var(--editor-width);
  display: none;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-double-view {
  width: var(--sidebar-width-double-view);
}

.sidebar-notes-paired-with-chaps-view {
  width: var(--editor-width);
}

.writing-field-standard-view {
  width: var(--editor-width);
  display: none;
  float: left;
}

.writing-field-single-view {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.writing-field-search-view{
  float: right;
  width: 50%;
  margin-right: none;
}

#editor-container {
  height: 97vh;
}

.ql-editor {
  line-height: 200%;
  font-size: var(--main-font-size);
  font-family: serif;
}

.activeChapter {
  font-weight: bold;
}

.popup, .popup-dialog, .working-popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 8px;
  font-size: var(--dialog-font-size);
  text-align: left;
  max-height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  hyphens: auto;
}

.popup td{
  text-align: left;
}

.popup p {
  margin: 4px;
  padding: 0;
}

.popup pre{
  height: 250px;
  overflow-y: scroll;
  text-align: left;
  background-color: white;
  color: black;
}

.popup h1 {
  margin: 3px 0px 12px 3px;
  padding: 0px 0px 0px 0px;
  font-size: var(--dialog-heading-size);
}

.popup h2 {
  font-size: var(--dialog-heading-size);
}

.popup label{
  margin-left: 3px;
}

.popup-search-view {
  top: 50%;
  left: 0%;
  transform: translate(2.5%, -50%);
  width: 45%;
}

.popup-text-small {
  font-size: var(--dialog-font-size-small);
}

.sublabel {
  margin-left: 22px;
}

#chapter-list-sidebar {
  overflow-x: hidden;
}

.name-box {
  width: 95%;
}

#prog-bar-container {
  display: block;
  background-color: gray;
  width: 100%;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#prog-bar-fill {
  display: block;
  background-color: green;
  height: 28px;
  width: 100%;
}

.access-key {
  text-decoration: underline;
  font-weight: bold;
}

.shortcuts-table td {
  text-align: left;
  padding-right: 8px;
  min-width: 234px;
}

.shortcuts-table td:nth-child(even) {
  min-width: 166px;
}

.popup-outliner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.popup-outliner table, .popup-outliner td, .popup-outliner th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px 8px 3px 8px;
}

.popup-outliner table{
  margin-left: 8px;
  margin-top: 8px;
}

.outliner-title {
  text-align: left;
  white-space: nowrap;
}

.outliner-word-count {
  text-align: right;
  white-space: nowrap;
}

.outliner-summary {
  position: relative;
  width: 99%;
  padding: 0px;
  margin: 0px;
}

.outliner-summary input{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 3px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.trash-header-empty {
  display: none;
}

.logo {
  display: block;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.about-version, .about-url {
  text-align: center;
}

.popup a{
  display: block;
  margin: 8px;
}

button, input[type=submit] {
  border: none;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--dialog-font-size);
}

.visible {
  display: block;
}

.ql-editor blockquote{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.file-select-container {
  width: 100%;
  height: 200px;
}

.file-manager-list {
  width: 80%;
  height: 100%;
  float: left;
}

.file-dir-shortcuts {
  width: 20%;
  height: 100%;
  float: left;
}

.to-be-cut {
  font-style: italic;
  opacity: 0.5;
}

.working-popup {
  z-index: 4;
  text-align: center;
}

.working-img {
  animation: rotation 4s infinite linear;
  margin-left: auto;
  margin-right: auto;
}

.working-popup h1{
  color: #d39d01;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.save-input {
  width: 100%;
}

.popup-dialog h3{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: var(--dialog-heading-size);
}

.popup-dialog p{
  text-align: left;
  margin: 3px 0px 3px 0px;
  color: white;
  padding-left: 6px;
}

#title-input {
  width: 100%;
}

#address-info-input {
  width: 100%;
}

#backup-dir-input {
  width: 75%;
}

.number-ticker {
  width: 3em;
}

#word-goal-input {
  width: 6em;
}

.warning-text {
  font-size: var(--dialog-font-size);
  border: 1px dashed;
  padding: 6px !important;
}

#network-pass {
  width: 100%;
}

.updates-panel {
  display: block;
  padding: 12px;
  border: 3px solid gray;
  margin: 3px;
}

.updates-text {
  font-size: var(--dialog-font-size);
}

#missing-file-list, #subdirs-list { 
  font-size: var(--dialog-font-size);
  margin: 12px;
}

.good-check {
  color: greenyellow;
}

.bad-check {
  color: red;
}

.unsure-check {
  color: gold;
}

.popup-corkboard {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#corkboard {
  display: block;
  width: 100%;
}

.corkboard-column {
  display: block;
  width: var(--corkboard-column-width);
  float: left;
}

.corkboard-column-horiz {
  display: block;
}

.corkboard-card {
  display: block;
  position: relative;
  width: 95%;
  height: 6em;
  margin: 6px;
}

.corkboard-card-unused {
  opacity: 0.5;
}

.corkboard-card-horiz {
  display: inline-block;
  width: 12em;
  height: 6em;
  margin: 6px;
}

.corkboard-card textarea {
  resize: none;
}

.card-num-label {
  display: inline;
  font-size: 12pt;
  margin-left: 3px;
}

.card-label {
  width: 80%;
}

.card-description {
  width: 95%;
  height: 5em;
 }

 .card-checkmark {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 12px;
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}

.card-checkmark-checked {
display: block;
}