:root {
  --main-font-size: 12pt; /*overwritten by user settings.*/
  --dialog-font-size: 14pt; /*overwritten by user settings.*/
  --editor-width: 50%; /*overwritten by user settings.*/
  --sidebar-width: 25%;  /*overwritten by user settings.*/
  --sidebar-width-double-view: 50%;  /*overwritten by user settings.*/
}

body {
  margin: 0;
  padding-top: 12px;
  font-family: Helvetica, sans-serif;
}

input, textarea, select, button {
  box-sizing: border-box;
  border-radius: 0px;
}

.sidebar {
  width: var(--sidebar-width);
  display: none;
  float: left;
  height: 93vh;
  font-size: var(--main-font-size);
}

.sidebar h1{
  text-align: center;
  font-size: 14pt;
  margin-top: 0px;
}


.sidebar ul {
  overflow: hidden;
}

.sidebar-search-view {
  display: none;
}

.sidebar-single-view {
  width: var(--editor-width);
  display: none;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-double-view {
  width: var(--sidebar-width-double-view);
}

.sidebar-notes-paired-with-chaps-view {
  width: var(--editor-width);
}

.writing-field-standard-view {
  width: var(--editor-width);
  display: none;
  float: left;
}

.writing-field-single-view {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.writing-field-search-view{
  float: right;
  width: 50%;
  margin-right: none;
}

#editor-container {
  height: 97vh;
}

.ql-editor {
  line-height: 200%;
  font-size: var(--main-font-size);
  font-family: serif;
}

.activeChapter {
  font-weight: bold;
}

.popup, .popup-dialog, .working-popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 8px;
  font-size: var(--dialog-font-size);
  text-align: center;
  max-height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  hyphens: auto;
}

.popup table{
  margin-left: auto;
  margin-right: auto;
}

.popup td{
  text-align: left;
}

.popup p {
  margin: 4px;
  padding: 0;
}

.popup pre{
  height: 250px;
  overflow-y: scroll;
  text-align: left;
  background-color: white;
  color: black;
}

.popup-search-view {
  top: 50%;
  left: 0%;
  transform: translate(2.5%, -50%);
  width: 45%;
}

.popup-text-small {
  font-size: var(--main-font-size);
}

.sublabel {
  margin-left: 22px;
}

#chapter-list-sidebar {
  overflow-x: hidden;
}

.name-box {
  width: 95%;
}

#prog-bar-container {
  display: block;
  background-color: gray;
  width: 90%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

#prog-bar-fill {
  display: block;
  background-color: green;
  height: 28px;
  width: 100%;
}

.access-key {
  text-decoration: underline;
  font-weight: bold;
}

.shortcuts-table {
  margin-left: auto;
  margin-right: auto;
}

.shortcuts-table td {
  text-align: left;
  padding-right: 8px;
  min-width: 234px;
}

.shortcuts-table td:nth-child(even) {
  min-width: 166px;
}

.popup-outliner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.popup-outliner table, .popup-outliner td, .popup-outliner th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px 8px 3px 8px;
}

.popup-outliner table{
  margin-left: 8px;
  margin-top: 8px;
}

.outliner-title {
  text-align: left;
  white-space: nowrap;
}

.outliner-word-count {
  text-align: right;
  white-space: nowrap;
}

.outliner-summary {
  position: relative;
  width: 99%;
  padding: 0px;
  margin: 0px;
}

.outliner-summary input{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 3px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.trash-header-empty {
  display: none;
}

.logo {
  display: block;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.popup a{
  display: block;
  margin: 8px;
}

button, input[type=submit] {
  border: none;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--main-font-size);
}

.visible {
  display: block;
}

.ql-editor blockquote{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.file-select-container {
  width: 100%;
  height: 200px;
}

.file-manager-list {
  width: 80%;
  height: 100%;
  float: left;
}

.file-dir-shortcuts {
  width: 20%;
  height: 100%;
  float: left;
}

.to-be-cut {
  font-style: italic;
  opacity: 0.5;
}

.working-img {
  animation: rotation 4s infinite linear;
}

.working-popup h1{
  color: #d39d01;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}