:root {
  --sidebar-width-double-view: 50%; /*Always overwritten to 100 minus editor width.*/
}

.sidebar-single-view {
  width: var(--editor-width);
  display: none;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-double-view {
  width: var(--sidebar-width-double-view);
}

.writing-field-single-view {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.visible {
  display: block;
}
