@media (prefers-color-scheme: light) {

  body {
    background-color: #EDF2F4;
  }

  #writing-field {
    background-color: #ffffff;
  }

  ::-webkit-scrollbar {
    background-color: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }

  .popup, .popup-dialog, .working-popup {
    background-color: #2B2D42;
    color: white;
  }

  .popup-outliner {
    background-color: #2B2D42;
    color: black;
  }

  .popup-outliner th{
    background-color: #EDF2F4;
  }

  .popup-outliner td{
    background-color: #EDF2F4;
  }

  .popup a{
    color: white;
  }

  button, input[type=submit] {
    background-color: #EDF2F4;
    color: black;
  }

  :focus {
    outline-color: #EF233C;
  }

  #chapter-list-sidebar:focus {
    outline: none;
  }

  .warning-text {
    color: gold;
  }

  .corkboard-card {
    background-color: white;
    border: 1px solid black;
  }

  .corkboard-card-horiz {
    border: 1px solid black;
    background-color: white;
  }

  .card-num-label {
    color: black;
  }

}
