body {
  background-color: #F0F8FF;
}

#writing-field {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

.popup {
  background-color: black;
  color: white;
}

.popup-outliner {
  background-color: white;
  color: black;
}
