<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>WareWoolf Project</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>text/plain</string>
      </array>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>woolf</string>
      </array>
    </dict>
    ...
  </array>
</dict>
</plist>
